* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


#SHOP {
    display: flex;
    gap: 30px;
    padding: 40px;
}


.card {
    width: 220px;
    position: relative;
}


.img {
    width: 100%;
    display: block;
}


.badge {
    position: absolute;
    top: 10px;
    left: 10px;
}


.new,
.sale,
.off,
.low {
    font-size: 11px;
    padding: 3px 6px;
    margin-bottom: 4px;
    width: 50%;
}


.new {
    background: black;
    color: white;
}

.sale {
    background: red;
    color: white;
}

.off {
    color: orange;
}

.low {
    background: orange;
    color: white;
}


.title {
    font-size: 14px;
    margin-top: 10px;
}

.price {
    margin-top: 5px;
    font-size: 13px;
}
