* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(66, 210, 26);
}

.welcome {
    text-align: center;
    font-size: 24px;
    color: #111;
    height: 50px;
}

.information p,a {
    display:flex;
    text-align: center;
    height: 100px;
    width: 600px;
    background-color: #272727cd;
    color: whitesmoke;
    border: 3px solid rgb(18, 173, 28);
    text-decoration: none;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.navi {
    background-image: url("https://yt3.googleusercontent.com/kWIyw-j1JzYqfBhw16B7HabH4YhrhOdb5d-r-80YGwS-QrId-apoaVvB00_6pidG0UL_6Li4=w1707-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj");
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(18, 173, 28);
}

.navi a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding: 20px;
    border-radius: 10px;
    margin: 0 30px;
}