body {
    background-color: #111;
    color:whitesmoke
}

.manu{
    align-items: center;
    justify-content:center;
    display:flex;
    width: 420px;
    height: 580px;
    background-color: #1f1f1f;
    border-radius: 10px;
    margin:20px;
    gap: 10px;
    flex-direction: column;
    padding: 50px;
}

.social-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}

button{
    text-decoration: none;
    color: whitesmoke;
    background-color: #484848ac;
    border-radius: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    border: none;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    border-radius: 50%;
}

button:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #bfea00de;
    border-radius: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    border: none;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}