* {
    text-decoration: none;
    scroll-behavior: smooth;
}

a {
    color: rgb(97, 97, 97);
}

body {
    background-color: #92c0be;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #444;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 15px;
}

.player {
    text-align: center;
    margin: 40px auto;
    width: 600px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.player img {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.player p {
    font-size: 15px;
}

.btn-container {
    text-align: center;
    margin: 30px 0;
}

button {
    background: #524e4e;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;

}