* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #161616;
    font-family: Arial, sans-serif;
}

.name {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20 20px;
    color: thistle;
    padding: auto;
    grid-auto-flow: column;
    text-align: justify;
}

.names {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    color: thistle;
    padding: 30px;
    text-align: justify;
}

img {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

