* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #161616;
    font-family: Arial, sans-serif;
}

.name {
    color: thistle;
    padding: auto;
    text-align: justify;
}

.names {
    color: thistle;
    padding: 30px;
    text-align: justify;
}

img {
    position: left;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s
}

img:hover {
    transform: scale(1.05);
}