body {
  background-color: #ccffcc;
  color: #003300;
  font-family: Comic Sans MS, cursive;
  margin: 20px;
}

h1 {
  font-size: 36px;
  text-align: center;
  background: lime;
  padding: 10px;
}

.menu {
  text-align: center;
  background: #99ff99;
  padding: 5px;
}

a {
  color: green;
  font-weight: bold;
  text-decoration: underline;
}

hr {
  border: 1px solid green;
  margin: 20px 0;
}

ul {
  padding-left: 40px;
  list-style-type: square;
}

p {
  font-size: 16px;
}