* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #E0E8FF;
}

.a {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b {
    width: 400px;
    height: 580px;
    border-radius: 15px;
    background-color: white;
}

.b .img1 {
    width: 100%;
    height: 30%;
}

.c {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
}

.c p {
    margin: 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.51);
}

.c button {
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 8px;
}

.c button:hover {
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    background-color: #766CF1;
    color: white;
    border: none;
    border-radius: 8px;
}

.c a {
    padding: 20px;
    font-size: 15px;
    display: flex;
    margin-left: 25px;
}
.c a:hover {
    padding: 20px;
    font-size: 15px;
    display: flex;
    margin-left: 25px;
    text-decoration: none;
}
.idk {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F9FF;
    margin: 20px;
    width: 100%;
    height: 5%;
    text-align: center;
}

.c .idkidk {
    margin: -20px;
    transform: translateY(30px);
    color: #717FA6;
    text-decoration: none;
}

.c .idkidk:hover {
    margin: -20px;
    transform: translateY(30px);
    color: #000000;
    text-decoration: none;
    font-weight: bold;

}

.idk .img2 {
    width: 50px;
    height: 50px;
}

.idk .idko {
    font-weight: 900;
    color: black;
}

.idk .idka {
    color: #717FA6;
}