* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #19A1AE;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
}

.a {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.b {
    width: 350px;
    height: 374px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.img1 {
    width: 350px;
    height: 120px;
    border-radius: 15px 15px 0 0;
    z-index: 2;
}

.c {
    width: 350px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}


.img2 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: -50px;
    background-color: white;
    z-index: 2;
}


.nametag {
    width: 350px;
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    z-index: 2;
}

.nametag h1 {
    font-size: 20px;
    z-index: 2;
}

.age {
    font-weight: 100;
    color: gray;
    z-index: 2;
}


.city {
    width: 350px;
    height: 30px;
    font-weight: 100;
    text-align: center;
    color: gray;
    z-index: 2;
}


hr {
    width: 348px;
    margin: 35px 0;
    border: 1 none;

    z-index: 2;
}


.stats {
    width: 350px;
    height: 79px;
    margin-top: -10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.stats div {
    width: 150px;
    height: 60px;
    text-align: center;
    z-index: 2;
}

.stats h1 {
    font-size: 18px;
    z-index: 2;
}

.stats p {
    font-size: 12px;
    color: rgba(128, 128, 128, 0.778);
    z-index: 2;
}

/* .circle1 {
    background-color: #53ffee9d;
    border-radius: 0 50% 50% 0;
    z-index: 1;
    transform: translateY(400px);
    transform: translateZ(-100px); 
    width: 400px;
    height: 500px;
    padding: 50px;
} */