@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.back {
    background-color: #F5D04E;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    background-color: #FFFFFF;
    color: black;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    gap: 10px;
    border: 1px solid black;
    border-radius: 14px;
    box-shadow: 4px 4px #000000;
}
#id2 {
    width: 100%;
    border-radius: 12px;
}
button {
    width: 90px;
    padding: 4px;
    background-color: #F1D150;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

h1 {
    font-size: 20px;
}
p {
    font-size: 14px;
}
#gtg1 {
    color: #909090;
    text-align: left;
}
#id1 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.other {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 14px;
}